set nocompatible
filetype off

set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()
Plugin 'VundleVim/Vundle.vim'
Plugin 'Lokaltog/vim-powerline'
Plugin 'altercation/vim-colors-solarized'
Plugin 'tomasr/molokai'
Plugin 'vim-scripts/phd'
Plugin 'jiangmiao/auto-pairs'
call vundle#end()
filetype plugin indent on

syntax enable
syntax on

set background=dark
colorscheme molokai
"colorscheme solarized
"colorscheme phd

set cursorline
set cursorcolumn
set hlsearch
set number

set t_Co=256
set laststatus=2

filetype indent on
set tabstop=4
set shiftwidth=4
set softtabstop=4


autocmd BufWritePost $MYVIMRC source $MYVIMRC
